title: Infographics Assignment
description: A visual exploration of data through infographics
baseurl: "/Infographics-Assignment"
url: ""

markdown: kramdown
permalink: pretty

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor
